
#app {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}


.card {
  margin: 1rem;
  flex-basis: 30%;

}

.card-body {
  border: solid lightblue 1px
}

.available {
  display: block;
  color: yellow;
  background-color: darkgray;
}

